.btn-danger {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
}

.list-group-item {
    background-color: red;
}

li {
    color: white;
}

.span {
    color: green;
    font-size: 50px;
}

.span1 {
    color: green;
    font-size: 30px;
}