
<div class="container-fluid-nav">
    <nav class=" fil-navbar navbar navbar-dark  ">
        <a class="nav-item nav-link"routerLink="" >Home</a>
        <a class="nav-item nav-link" routerLink="/goals" >Goals</a>
        <a class="nav-item nav-link" routerLink="/travels" >Travel Log</a>
      <img src="../../../assets/iconfinder_Junior_Icon_04_2_67828.png" class="img-logo" alt="Logo">
      <a class="nav-item nav-link" routerLink="/checklist">Checklist</a>
        <a class="nav-item nav-link" routerLink="/next">Next Travel</a>
       
    </nav>

  </div>